* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 65%);
}
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 1%);
    border-radius: 4px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    background-color: hsl(0, 0%, 10%);
    text-align: left;
    color: #FFF;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 999px;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.tool {
    background-color: hsl(37, 98%, 52%);
}

.delete {
    background-color: hsl(0, 0%, 60%);
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.tool:hover {
    background-color: hsl(37, 98%, 62%);
}

.tool:active {
    background-color: hsl(37, 98%, 72%);
}

.delete:hover {
    background-color: hsl(0, 0%, 70%);
}

.delete:active {
    background-color: hsl(0, 0%, 80%);
}